[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phdcocktail"]
	path = phdcocktail
	url = https://github.com/dahhamalsoud/phdcocktail
